name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Deploy to AWS EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd /home/ubuntu/bnsp
            git pull

            echo ">>> Stop old container"
            docker stop bnspapp || true

            echo ">>> Remove old container"
            docker rm bnspapp || true

            echo ">>> Build new image"
            docker build -t bnspapp .

            echo ">>> Clean dangling images"
            docker image prune -f || true

            echo ">>> Run new container"
            docker run -d -p 80:3000 --name bnspapp bnspapp
